body {
    /*padding-top: 50px;*/
}

.table {
    background-color: white;
}

.form-select {
	width: 200px;
}

.form-date {
    width: 405px;
    margin-bottom: 10px;
}

.shadow {
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.05), 0px 4px 9px rgba(0,0,0,0.15);
}

.inline {
    display: inline-block;
}

.center {
    margin: auto;
    margin-bottom: 20px;
}

.info-container {
    margin-bottom: 10px;
    padding: 0;
}

.custom-select {
    margin-bottom: 4px;
}

.container-fluid {
    margin-top: 50px;
    margin-left: 30px;
}