<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EJS Demo</title>

    <% include ../partials/styles %>
</head>
<body>
    <% include ../partials/nav %>
    <div class="container-fluid" >
        <div class="form-group inline" style="width: 500px">
            <div class="info-container">
                <input placeholder="Task" class="form-control form-select inline" type="text" name="task" id="task">
                <select id="progress" class="custom-select form-select">
                    <option>Not started</option>
                    <option>In progress</option>
                    <option>Finished</option>
                </select>
            </div>
            <input placeholder="Date" class="form-control form-date" type="text" id="datepicker">
            <form class="dropzone" id="dropzone" action="/files"></form>
            <button id="button" class="btn btn-primary form-date">Submit</button>
        </div>
        <div class="inline" style="position: absolute; min-width: 900px;">
            <select id="filter" class="custom-select form-select">
                <option selected>Filter</option>
                <option>Not started</option>
                <option>In progress</option>
                <option>Finished</option>
            </select>
            <table id="task-table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Progress</th>
                        <th>Date</th>
                        <th>Files</th>
                    </tr>
                </thead>
                <tbody id="table">
                    <% data.tasks.forEach((task) => { %>
                        <tr>
                            <td><%= task.taskName %></td>
                            <td><%= task.progress %></td>
                            <td><%= task.date %></td>
                            <td><%- task.files %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <% include ../partials/scripts %>
</body>
</html>
